<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {{ post.title }} {% endblock title %}</title>
    </head>

    <body>
        <div class="masthead">
        	<h1 class="title"><a href="/">{{ site.title }}</a></h1>
        </div>

        <div id="content">
        {% block content %}
        {% endblock content %}
        </div>

        <div class="footer">
		Copyright © 2000–2023 {{ site.author }}
        </div>
</body>
</html>
